* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    height: 100%;
    width: 100%;
    background-color:#9AC7BF ;
}

.ui-header .ui-title {
    overflow: visible !important;

}
/* For fixing the absolute position issue for the default cordova gen page*/
#cjp-accordion1 .app {
    left: 5px !important;
    margin: 0px !important;
    position: relative !important;
}
.header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

#searchBar {
    width: auto;
    height: 45px;
    border-radius: 9px;
}

#nav-icon3{
    width: 40px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.ui-page-theme-a a:visited, .ui-page-theme-a  .button {
    display: inline-block;
    outline: none;
    background-color: #FA6800;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .3em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: black;
}

.playlists-container{
    background-color: whitesmoke;
    width:48%;
    height: 350px;
    margin-right:1%;
    float: left;
}

.home-container{
    margin-right:0%;
    margin-top:10%;
    margin-bottom:10%;
}

.albums-container{
    background-color: lightgrey;
    width:48%;
    height: 200px;
    margin-right:1%;
    float: right;
}

.albumpopup-container{
    background-color: whitesmoke;
    width:48%;
    height: 150px;
    margin-right:1%;
    margin-top:0%;
    float: right;
}

.textbutton{
    display: inline-block;
    outline: none;
    align-self: center;
    text-align: center;
    text-decoration: none;
    text-decoration-color: black;
    min-width: fit-content;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .3em;
}

.clearfix{
    clear:both
}

/* Mainly for theme of the app will go here so all pages have same theme */
#login_page, #signup_login, #homePage, #scanPage, #resultsPage, #searchPage, #settingsPage, #albumPage, #songResultsPage, #artistResultsPage   {
  background-color: #9AC7BF;
}
/* I will setup the same grid on each page.
There is a drawing of the grid lines in our draw.io.
If you want to customize it take your page out of this and create a seperate one for it */

p   {
  text-align: center;
}

.title {
  font-size:24px;
  font-weight:normal;
  overflow:visible;
  text-align:center;
}

.result-container {
  border: black 1px solid;
  width: 100%;
  height: auto;
  display: table;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

#result-photo   {
  display: inline-block;
}

#result-text    {
  float: right;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

#result-alublm   {
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: medium;
  vertical-align: bottom;
  text-align: center;
  font-style: italic;
}

#result-artist  {
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: 900;
  font-size: large;
  vertical-align: top;
}

.loginbutton {
  /* makes transparent image background for buttons */
  /* mix-blend-mode: multiply; */

  /* to center image on page */
  display: inline-block;
  background:url(img/login.png) transparent;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  border: none;

  /* padding */
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  padding-left: 50px;
}

#scanready {
  /* makes transparent image background for buttons */
  /* mix-blend-mode: multiply; */
  /* to center image on page */
  /* background:transparent url("img/scan.png"); */

  background-color: Transparent;
  background-repeat:no-repeat;
  display: block;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: auto;
  margin-bottom: auto; */
  width: 250px;
  height: 250px;
  border: none;
  overflow: hidden;
  box-shadow: none;
}
#scanready:focus {outline-width: 0px; }

.middle {
  position:absolute;

  max-width: 100%;
  max-height: 100%;
}

.playlists-container{
  background-color: whitesmoke;
  width:48%;
  height: 350px;
  margin-right:1%;
  float: left;
}

.home-container{
  margin-right:0%;
  margin-top:10%;
  margin-bottom:10%;
}

.albums-container{
  background-color: lightgrey;
  width:48%;
  height: 200px;
  margin-right:1%;
  float: right;
}

.albumpopup-container{
  background-color: whitesmoke;
  width:48%;
  height: 150px;
  margin-right:1%;
  margin-top:0%;
  float: right;
  }

.textbutton{
  display: inline-block;
  outline: none;
  align-self: center;
  text-align: center;
  text-decoration: none;
  text-decoration-color: black;
  min-width: fit-content;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  border-radius: .3em;
  }

.clearfix{
  clear:both
}

.imageCenter {
  position:absolute;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: auto;
}

#scanButtonContainer {
  border: #9AC7BF ;
  border-width: 2px;
}

#scanButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}


.my-breakpoint .ui-block-a {width: 10%;}
.my-breakpoint .ui-block-b {width: 80%;}
.my-breakpoint .ui-block-c {width: 10%;}


#result-photo > img, .album-photo > img {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

